@using Delicious.Models
@model Delicious.Models.Recipe
@*@model Delicious.Models.RecipeGridViewModel*@
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conatiner ">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <span class="fa fa-th-list fa-4x"></span>
            <h2 class="display-4">Detalji</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RecipeName)
                </dt>
                <dd style="font-size:30px;" class="text-danger">
                    @Html.DisplayFor(model => model.RecipeName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd style="font-size:20px; color:#34495e;">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                @*<dt>
                        @Html.DisplayNameFor(model => model.Category.CategoriesName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Category.CategoriesName)
                    </dd>*@
                @*<dt>
                        @Html.DisplayNameFor(model => model.ImageName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ImageName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.InputDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InputDate)
                    </dd>*@
            </dl>

            @*<div class="col-lg-4">
                                @foreach (var item in Model.Recipes)
                    {
                            <img src="@string.Format("/Content/img/{0}", item.ImageNameToShow)" style="width:250px;" class="img-thumbnail">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                }*@

        </div>
    </div>
</div>

<div class="container ">
    <div class="row  mt-3 justify-content-lg-center">
        <div class=" col-lg-3 offset-lg-1">

            @Html.ActionLink("Kolači", "Index", "Recipes", new { area = "", kategorija = "Kolači" }, new { @class = "nav-link btn btn-warning col-lg-4" })
          

        </div>
        <div class="col-md-3">

         
            @Html.ActionLink("Peciva", "Index", "Recipes", new { area = "", kategorija = "Peciva" }, new { @class = "nav-link  btn btn-warning col-lg-4" })
           

        </div>
        <div class="col-md-3">

          
            @Html.ActionLink("Zdrava Hrana", "Index", "Recipes", new { area = "", kategorija = "Zdrava Hrana" }, new { @class = "nav-link  btn btn-warning col-lg-7" })

        </div>
    </div>
</div>
<p ml-5>


</p>
