@using Delicious.Models
@model Delicious.Models.Recipe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container  mb-5">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <span class="fa fa-th-list fa-4x"></span>
            <h2 class="display-4 text-danger">@Model.RecipeName</h2>
            <hr />
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4 offset-lg-2">
            <a class="example-image-link" href="@string.Format("/Content/img/{0}", Model.ImageNameToShow)" data-lightbox="example-set">
                <img class="example-image img-thumbnail mb-4" src="@string.Format("/Content/img/{0}", Model.ImageNameToShow)" style="width:200px;">
            </a>
        </div>

        <div class="col-lg-6">

            <label>Sastojci:</label>
            <br>
            @foreach (var i in Model.Ingredients)
            {
                @Html.DisplayFor(modelItem => i.Ingredient.IngredientName)
                @Html.Raw("&nbsp;&nbsp;&nbsp;")
                @Html.DisplayFor(modelItem => i.Quantity)
                @Html.Raw("&nbsp;&nbsp;&nbsp;")
                @Html.DisplayFor(modelItem => i.UnitOfMeasure)

                <br>
            }

            <dl class="dl-horizontal" style="color:#000;">


                <dt style="font-size:30px;">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd style="font-size:20px;">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @*@Html.ActionLink("Ostavite komentar", "Create", "Comments", new { recipeId = Model.Id})*@

        <div>
            @using (Html.BeginForm("LeaveComment", "Recipes", FormMethod.Post))
            {
                <input name="recipeId" type="hidden" value="@Model.Id">
                <input name="comment" type="text" value="">
                <input type="submit" value="Ostavite komentar" class="btn" />
            }
        </div>

        <div>
            @foreach (var comment in Model.Comments)
            {
                @Html.DisplayFor(modelItem => comment.CommentContent)
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div style="float:right;">
            @*da bismo se vratili na prethodnu stranu*@
            @if (Model.Category.CategoriesName == "Kolaci")
            {
                ViewBag.Kategorija = "Kolaci";
            }
            else if (Model.Category.CategoriesName == "Peciva")
            {
                ViewBag.Kategorija = "Peciva";
            }
            else
            {
                ViewBag.Kategorija = "Zdrava Hrana";
            }

            @Html.ActionLink("Nazad", "Index", new { ViewBag.Kategorija })
        </div>
    </div>
</div>

