
@using Delicious.Models

@model Delicious.Models.RecipeGridViewModel
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row mt-4">
        <div class="col-lg-2">

        </div>

        <div class="col-lg-2">
            <button type="button" class="btn btn-primary">
                Укупно:&nbsp;&nbsp; <span class="badge badge-light">@Model.Count</span>
                <span class="sr-only">unread messages</span>
            </button>
        </div>

        <div class="col-lg-6">
            @using (@Html.BeginForm())
            {
                <div class="row">
                    <div class="col-lg-6">@Html.TextBox("Query", "Pretraga po nazivu !", new { @class = "form-control text-primary" })</div>
                    <div class="col-lg-6"><button type="submit" value="Search" class="btn btn-default btn-md "> <span class="fa fa-search"></span>&nbsp;&nbsp;Traži </button></div>
                </div>
            }
        </div>

        <div class="col-lg-2 ">
            <p>
                <button class="btn btn-amber">
                    <span class="fa fa-plus"></span>&nbsp;&nbsp;
                    @Html.ActionLink("Dodaj recept", "Create")
                </button>
            </p>
        </div>
    </div>
</div>


@Html.ActionLink("Sortiraj po nazivu", "MyRecipes", Model.GetSortingParameters("RecipeName", @Model.kategorija), new { @class = "text-warning btn btn-outline-warning text-default" })


<hr>


<div class="container">
    <div class="row">
<<<<<<< HEAD
        @if (Model.Recipes.Any() == false)
        {
            <h1>NISTE KREIRALI NIJEDAN RECEPT</h1>
        }
        else
        {
            foreach (var item in Model.Recipes)
            {
                <div class="col-sm-4 mt-4 text-center">



                    <a class="example-image-link" href="@string.Format("/Content/img/{0}", item.ImageNameToShow)" data-lightbox="example-set">
                        <img class="example-image img-thumbnail" src="@string.Format("/Content/img/{0}", item.ImageNameToShow)" style="width:200px;">
                    </a>

                    @Html.Raw("</br></br>")

                    <p class="text-info" style="font-size:26px;">
                        <span class="fa fa-pencil-square-o"></span>
                        @item.RecipeName
                    </p>

                    <p class="text-info">
                        <span class="fa fa-calendar-plus-o"></span>
                        @Html.Raw("&nbsp;&nbsp;&nbsp;")
                        @item.InputDate
                    </p>
                    @Html.Raw("</br>")

                    @Html.Raw("</br>")

                    <span class="text-primary"><i class="fa fa-pencil" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i></span>
                    @Html.ActionLink("Izmeni ", "Edit", new { id = item.Id }, new { @class = " text-white btn btn-primary btn-md" })
                    @Html.Raw("&nbsp;")
                    <span class="text-success"><i class="fa fa-th-list" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i></span>
                    @Html.ActionLink("Detalji ", "Details", new { id = item.Id }, new { @class = "text-white btn btn-success btn-md" })
                    @Html.Raw("&nbsp;")
                    <span class="text-danger"><i class="fa fa-remove" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i></span>
                    @Html.ActionLink(" Izbriši", "Delete", new { id = item.Id }, new { @class = "delete-dugme text-white btn btn-danger btn-md" })

                    <hr>
                </div>
            }
=======
        @foreach (var item in Model.Recipes)
        {
            <div class="col-sm-4 mt-4 text-center">



                <a class="example-image-link" href="@string.Format("/Content/img/{0}", item.ImageNameToShow)" data-lightbox="example-set">
                    <img class="example-image img-thumbnail" src="@string.Format("/Content/img/{0}", item.ImageNameToShow)" style="width:200px;">
                </a>


                @*<img src="@string.Format("/Content/img/{0}", item.ImageNameToShow)" style="width:250px;" class="img-thumbnail">*@
                @Html.Raw("</br></br>")

                <p class="text-info" style="font-size:26px;">
                    <span class="fa fa-pencil-square-o"></span>
                    @item.RecipeName
                </p>
                @*@Html.DisplayNameFor(model => model.RecipeName)*@
                @*@Html.Raw(":&nbsp;")*@
                @*@Html.DisplayFor(modelItem => item.RecipeName)*@
                @*@Html.Raw("</br>")*@

                <p class="text-info">
                    <span class="fa fa-calendar-plus-o"></span>
                    @Html.Raw("&nbsp;&nbsp;&nbsp;")
                    @item.InputDate
                </p>
                @Html.Raw("</br>")


                @*@Html.Raw(":&nbsp;")*@
                @*new { @value = System.DateTime.Now }*@
                @*@Html.DisplayFor(modelItem => item.InputDate)*@
                @Html.Raw("</br>")
                @*@item.Category.CategoriesName*@
                @*@Html.DisplayFor(r => item.Category.CategoriesName)*@


                <span class="text-primary"><i class="fa fa-pencil" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i></span>
                @Html.ActionLink("Izmeni ", "Edit", new { id = item.Id }, new { @class = " text-white btn btn-primary btn-md" })
                @Html.Raw("&nbsp;")
                <span class="text-success"><i class="fa fa-th-list" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i></span>
                @Html.ActionLink("Detalji ", "Details", new { id = item.Id }, new { @class = "text-white btn btn-success btn-md" })
                @Html.Raw("&nbsp;")
                <span class="text-danger"><i class="fa fa-remove" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i></span>
                @Html.ActionLink(" Izbriši", "Delete", new { id = item.Id }, new { @class = "delete-dugme text-white btn btn-danger btn-md" })

                <hr>
            </div>
>>>>>>> cc0d17abea2472cfb078b0417a4f0689e63e17a0
        }
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-lg-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li>

                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            @Html.ActionLink(i.ToString(), "Index", Model.GetPagingParameters(i), new { @class = " btn btn-warning btn-lg" })
                            @Html.Raw("&nbsp;")

                        }
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts
{
}